apiVersion: apps/v1
kind: Deployment
metadata:
  name: chew-and-cheer-mac-app
  labels:
    app: chew-and-cheer-mac
spec:
  replicas: 1
  selector:
    matchLabels:
      app: chew-and-cheer-mac
  template:
    metadata:
      labels:
        app: chew-and-cheer-mac
    spec:
      imagePullSecrets:
        - name: harbor-registry-secret
      containers:
        - image: harbor.arpansahu.space/library/chew_and_cheer_mac:latest
          name: chew-and-cheer-mac
          envFrom:
            - secretRef:
                name: chew-and-cheer-secret
          ports:
            - containerPort: 8001
              name: gunicorn