{% extends 'base.html' %}
{% load static %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}
<style>
  /* Full viewport height and center content */
  .page-header {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh; /* Make sure it takes the entire viewport height */
  }

  /* Wider card */
  .card-plain {
    width: 100%;
    max-width: 800px; /* Adjust the max-width to make it wider */
  }

  /* Adjusting container for full width */
  .container {
    max-width: 1200px;
  }

</style>
{% endblock stylesheets %}

{% block content %}
<section>
  <div class="page-header section-height-75">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-xl-8 col-lg-9 col-md-10 d-flex flex-column"> <!-- Adjusted column widths for wider display -->
          <div class="card card-plain mt-8">
            <div class="card-header pb-0 text-left bg-transparent">
              <h3 class="font-weight-bolder text-danger text-gradient">
                Error 500
              </h3>
              <p class="mb-0 text-danger">
                Server Error - Something went wrong on our end. If the problem persists, please contact support.
              </p>
            </div>
            <div class="card-body">
              <div class="text-center">
                <a type="button" href="/" class="btn bg-gradient-info w-100 mt-4 mb-0">HOME</a>
              </div>
            </div>
            <div class="card-footer text-center pt-0 px-lg-2 px-1">
              <p class="mb-4 text-sm mx-auto">
                <a href="https://arpansahu.me/contact/" class="text-info text-gradient font-weight-bold">Contact Support</a>             
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}